.searchbar {
  /* background-color: red; */
  width: 20rem;
  height: 2.8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px rgb(137, 137, 137);
  font-size: 0.9rem;
}

.searchbar div:first-child,
.searchbar div:nth-child(3) {
  font-weight: bold;
}

.searchbar div:nth-child(5) {
  color: #5d5d5d;
}

.search {
  background-color: rgb(92, 212, 255);
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search img {
  height: 1.2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* display: grid;
  grid-template-columns: 1fr 4fr 4fr; */
}

.header-container div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container div a img {
  height: 10rem;
  margin-top: 6px;
}

.header-container div:first-child {
  margin-left: 30px;
}

/* .header-container div:nth-child(3) {
  margin-right: 30px;
} */

.about {
  margin-right: 40px;
}
