.appartmentContainer {
  /* background-color: red; */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  height: 700px;
}

.individualAppartment {
  height: 19em;
  width: 17em;
  /* min-width: 200px; */
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.individualAppartment img {
  height: 15em;
  width: 15em;
  max-width: 16em;
  border-radius: 9px;
  object-fit: cover;
}

.appartmentInfo {
  /* display: flex;
  align-items: flex-start; */
}
