* {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.appartmentContainer {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  height: 700px;
}

.individualAppartment {
  height: 19em;
  width: 17em;
  /* min-width: 200px; */
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* background-color: blue; */
  gap: 15px;
}

.individualAppartment img {
  height: 100%;
  /* background-size: cover; */
  margin-left: -80px;
  border-radius: 9px;
}

.location {
  font-weight: bold;
}

.image-container {
  overflow: hidden;
  height: 15em;
  width: 15em;
  border-radius: 9px;
}

.appartment-info-container {
  display: flex;
  width: 14em;
  /* background-color: red; */
  justify-content: space-between;
  padding: 5px;
}

.appartment-info-container div {
  margin-bottom: 0.2em;
}

.appartment-info {
  /* margin-left: -100px; */
  color: #717171;
}

.black {
  color: black;
}

.price {
  text-decoration: underline;
}
